* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*header section*/

body {
    width: 100%;
}


header {
    background-color: #CABBB7;
    height: 20vh;
    width: 100%;
}

header p {
    font-size: 2vw;
    color: #3C3737;
    display: inline;
    position: relative;
    top: 45%;
    left: 5%;
}

header img {
    width: auto;
    height: 50%;
    float: right;
    margin: 3vh 4vh 2vh 0;
}


/*navigation section*/

nav {
    background-color: #C65252;
    color: whitesmoke;
    height: 5vh;
    width: 100%;
    vertical-align: middle;
}

ul {
    float: left;
    width: 25em;
    padding-left: 3.5%
}

nav li {
    float:left;
    list-style-type: none;
    font-size: 2.0vh;
    padding-left: 5%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-shadow: 0.25px 0.25px 0.5px grey;
}

li a {
    text-decoration: none;
    color: white;
}

/*main section*/
main {
    height: 150vh;
    margin-left: 5%;
    margin-right: 5%;
}

.heading-container {
    text-align: center;
    width: 100%;
    height: 200px ;
}

.heading-container h1 {
    display: inline-block;
    font-size: 3.5vh;
    width: 35%;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 37%;
    margin-right: 37%;
}

/*Phone image*/
#img-top {
    margin-bottom: 4%;
}

#img-top img {
    width: 100%
}

#img-top figcaption {
    text-align: center;
}

/*font-size figcaption 3 images*/
.figctop, .figcbottom {
    font-size: 1em;
}

.figcbottom {
    text-align: center;
}

/*2 bottom images*/
.img-bottom {
    width: 47%;
    height: auto;
    float: left;

}

.img-bottom img {
    width: 100%;
}

.left{
  
    margin-right: 6%;
}





/*footer section*/

footer {
    background-color: #CABBB7;
    height: 20vh;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
   }



.footer-container img {
    width: 190px;
    padding-top: 20px;
    margin-bottom: 15px;
}


/*---------About-me-subpage------*/
.main-about{
    height: 170vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFAF0 ;
}

.main-about h1 {
    padding-top: 2.5vh;
    letter-spacing: 0.1em;
    font-size: 4em;
    text-align: center;
   
}

.img-wrapper img {
    width: 60%;
    margin: 30px 20% 0 20%;
}

.text-wrapper {
    margin-top: 50px;
}

.text-wrapper p {
    font-size: 1.2em;
    margin-top: 3vh;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    line-height: 2em;
}

/*--------contact-subpage----*/
.main-contact {
    height: 100vh;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #FFFAF0 ;
    text-align: center;
}

.contact-form {
    text-align: center;
    padding-top: 10vh;
}

input {
    width: 85%;
    height: 5vh;
}

textarea {
    width: 85%;
    height: 28vh
}

.contact-form {
    text-align: center;
}
